<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap for CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
        <!-- Bootstrap for JavaScript Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
        ></script>
        <title><%=forumName%> - Users</title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <h1><%=forumName%></h1>
        <h2>User info for <%=membership[0].firstname%></h2>
        <table>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Country</th>
                <th>Tipic Title</th>
            </tr>
            <% membership.forEach(function(member) { %>
            <tr>
                <td><%= member.user_id %></td>
                <td><%= member.firstname %></td>
                <td><%= member.surname %></td>
                <td><%= member.username %></td>
                <td><%= member.country %></td>
                <td><%= member.topic_title %></td>
            </tr>
            <% }) %>
        </table>
    </body>
</html>
